<template>
    <div class="panel panel-default">
        <navbar-component></navbar-component>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    <leftbar-component></leftbar-component>
                </div>
                <div class="col-sm-10 mt-5">

                    <router-view></router-view>
                </div>
            </div>
        </div>
    </div>
</template>
