<template>
        <div class="col-md-12">
            <div class="card mb-3 mt-5">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Data Table Example</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4"><div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"><div id="dataTable_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></label></div></div></div><div class="row"><div class="col-sm-12"><table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                            <thead>
                            <tr role="row"><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 220px;">Name</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 309px;">Email</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 200px;">Country</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 120px;">Action</th></tr>
                            </thead>
                            <tfoot>
                            <tr><th rowspan="1" colspan="1">Name</th><th rowspan="1" colspan="1">Email</th><th rowspan="1" colspan="1">Country</th><th rowspan="1" colspan="1">Action</th></tr>
                            </tfoot>
                            <tbody>



                            <tr id="40" role="row" class="odd">
                                <td><a href="http://admin.test/admin/users/40" data-toggle="modal" data-target="#openModal" data-user="{&quot;id&quot;:40,&quot;name&quot;:&quot;mhofbcdgvbc&quot;,&quot;country_id&quot;:1,&quot;role&quot;:0,&quot;email&quot;:&quot;asd@mail.rusdf12&quot;,&quot;email_verified_at&quot;:null,&quot;created_at&quot;:&quot;2019-03-21 13:16:08&quot;,&quot;updated_at&quot;:&quot;2019-03-21 13:34:59&quot;,&quot;country&quot;:{&quot;id&quot;:1,&quot;name&quot;:&quot;Afghanistan&quot;,&quot;capital&quot;:&quot;Kabul&quot;,&quot;currency&quot;:&quot;afghani&quot;,&quot;currency_code&quot;:&quot;AFN&quot;,&quot;created_at&quot;:&quot;2019-03-21 08:08:14&quot;,&quot;updated_at&quot;:&quot;2019-03-21 08:08:14&quot;}}" class="getname">mhofbcdgvbc</a></td>
                                <td class="getmail">asd@mail.rusdf12</td>
                                <td class="getcountry">Afghanistan</td>
                                <td class="text-center">
                                    <a data-toggle="modal" data-target="#deleteModal" data-id="40" href="http://admin.test/admin/delete/40" class="closs-item"><i class="fas fa-times"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table></div></div><div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Showing 1 to 10 of 10 entries</div></div><div class="col-sm-12 col-md-7"></div></div></div>
                    </div>
                    <ul class="pagination" role="navigation">

                        <li class="page-item disabled" aria-disabled="true" aria-label="« Previous">
                            <span class="page-link" aria-hidden="true">‹</span>
                        </li>
                        <li class="page-item active" aria-current="page"><span class="page-link" data-dt-idx="1">1</span></li>
                        <li class="page-item"><a class="page-link" href="http://admin.test/admin/users?page=2">2</a></li>
                        <li class="page-item"><a class="page-link" href="http://admin.test/admin/users?page=3">3</a></li>
                        <li class="page-item"><a class="page-link" href="http://admin.test/admin/users?page=4">4</a></li>

                        <li class="page-item">
                            <a class="page-link" href="http://admin.test/admin/users?page=2" rel="next" aria-label="Next »">›</a>
                        </li>
                    </ul>

                </div>
                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>
        </div>



</template>

<script>
    export default {
data() {
    return {
        users:{
            'id':'',
            'name':'',
            'email':'',
        },
    }
},
        created() {
        }
    }
</script>

<style scoped>

</style>
